body {
    background-image: url(https://photo-master.com/images/raw-vs-jpg-vojna-formatov_03.jpg);
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
     }